# Database
DATABASE_URL=your_database_url_here

# Google APIs
GOOGLE_API_KEY=your_google_api_key_here

# SendGrid
SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=noreply@sigmaroofingllc.com
SENDGRID_TO_EMAIL=your_notification_email_here

# Session Secret
SESSION_SECRET=your_session_secret_here